<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>创特装饰工程有限公司</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/css/common.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/css/style.css" type="text/css" />
<script type="text/javascript">var jQuery_1_3_2 = $.noConflict(true);
</script>
<script src="__PUBLIC__/Public/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Public/Js/yourphp.nav.js"></script>
<script src="__PUBLIC__/Public/Js/yourphp.js"></script>
<script type="text/javascript" src="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/Js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Js/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Js/swfupload.js"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Js/jquery.validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/meiqia.js"></script>
</head>
<body class="lybg">
<div id="header">
  <div class="logo"><a href="" target="_blank" ><img src="__PUBLIC__/Uploads/201212/logo.jpg" style="width:260px;" title="" /></a></div>
  <div class="top_icon">
    <div class="tel"><img src="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/images/tel.png"  title="" /></div>
  </div>
</div>
<include file="header" />
      <script type="text/javascript">var APP	 =	 'index.php';
var ROOT =	 '';
var PUBLIC = 'Public';
yourphpnav.init({navid: "nav"});
var nav = document.getElementById('nav_20');nav.className=nav.className+" on";
</script>
      <img src="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/images/banner5.jpg" width="944" height="260" />
      <div class="clear"></div>
    </div>
    <div class="box_b"></div>
  </div>
</div>
<div class="clear"></div>
<div class="w980 height10"></div>
<div class="w980">
  <div class="page_l">
    <div class="box_l">
      <div class="box_l_t"></div>
      <div class="box_l_m"><p style="color:rgba(121,190,247,1.00); font-size:25px; margin-left:15px;">关于/About</p><img src="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/images/box_l_line.png" style="margin:10px auto 20px;" />
        <div class="sidebar">
          <div class="sidenav tab"><a title="公司介绍" class="moren">公司介绍</a></div>
          <div class="sidenav tab"><a title="人才招聘">人才招聘</a></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="box_l_b"></div>
    </div>
  </div>



 <div class="page_r">

    <div class="box_r">
      <div class="box_r_m" style="background:rgba(255,255,255,0.7); border-radius:15px;width:735px;">
        <div class="box_r_title"><p style="color:rgba(121,190,247,1.00); font-size:25px;">公司介绍/Case Shows</p></div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="box_r">
      <div class="box_r_m">
          <?php foreach($com as $v):?>
        <div style="float:left;line-height:25px;width:734px;margin-left:0px;">
            <?php echo $v['content']?>
        </div>
          <?php endforeach;?>
        <div id="pages" class="pagee"></div>
        <div class="clear"></div>
      </div>
      <div class="box_r_b"></div>
    </div>
    <div class="clear"></div>
  </div>





    <div class="page_r" style="display:none">
        <div class="box_r">
            <div class="box_r_m" style="background:rgba(255,255,255,0.7); border-radius:15px;width:735px;">
                <div class="box_r_title"><p style="color:rgba(121,190,247,1.00); font-size:25px;">人才招聘/Case Shows</p></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="box_r">
            <div class="box_r_m">
                <?php foreach($emp as $v):?>
                <div style="float:left;line-height:25px;width:734px;margin-left:0px;">
                   <?php echo $v['content']?>
                </div>
                <?php endforeach;?>
                <div id="pages" class="pagee"></div>
                <div class="clear"></div>
            </div>
            <div class="box_r_b"></div>
        </div>
        <div class="clear"></div>
    </div>

</div>

</div>
<include file="footer" />

</body>
</html>
<script>
    $(document).ready(function(){
        $('.tab').click(function(){
            var a = $(this).index();
            $(this).children('a').addClass('moren').parent().siblings().children().removeClass('moren');
            $('.page_r').eq(a).show().siblings('.page_r').hide();
        });
    });
</script>