<div class="w980">
    <div class="page">
        <div class="box_t"></div>
        <div class="box_m">
            <div class="nav" id="nav">
                <ul id="nav_box">
                    <li id="nav_0"><span class="fl_ico"></span><a href="{:U('Index/index')}" title="网站首页"><span class="fl">网站首页</span></a></li>
                    <li id="nav_37" class="first folder"><span class="fl_ico"></span><a href="{:U('Index/project')}" title="工程案例"><span class="fl">工程案例</span></a></li>
                    <li id="nav_40" class="folder"><span class="fl_ico"></span><a href="{:U('Index/cas')}" title="案例展示"><span class="fl">案例展示</span></a></li>
                    <li id="nav_29" class="folder"><span class="fl_ico"></span><a href="{:U('Index/build')}" title="施工现场"><span class="fl">施工现场</span></a></li>
                    <li id="nav_25" class="folder"><span class="fl_ico"></span><a href="{:U('Index/newslst')}" title="资讯中心"><span class="fl">资讯中心</span></a></li>
                    <li id="nav_20" class="foot folder"><span class="fl_ico"></span><a href="{:U('Index/about')}" title="关于我们"><span class="fl">关于我们</span></a></li>
                </ul>
            </div>