<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>创特装饰工程有限公司</title>
<meta name="author" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/css/common.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/css/style.css" type="text/css" />
<script type="text/javascript">var jQuery_1_3_2 = $.noConflict(true);
</script>
<script src="__PUBLIC__/Public/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Public/Js/yourphp.nav.js"></script>
  <script language="javascript" src="Js/jquery-1.4.2.min.js"></script>
<script src="__PUBLIC__/Public/Js/yourphp.js"></script>
<script type="text/javascript" src="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/Js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Js/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Js/swfupload.js"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Js/jquery.validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/meiqia.js"></script>
    <style>
        .box_r_title p a:hover{color:blue}
        #fanye h4 a:hover{color:blue}
    </style>
</head>
<body class="lybg">
<div id="header">
  <div class="logo"><a href="" target="_blank" ><img src="__PUBLIC__/Uploads/201212/logo.jpg" style="width:260px;" title="" /></a></div>
  <div class="top_icon">
    <div class="tel"><img src="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/images/tel.png"  title="" /></div>
  </div>
</div>
<include file="header"/>
      <script type="text/javascript">var APP	 =	 'index.php';
var ROOT =	 '';
var PUBLIC = 'Public';
yourphpnav.init({navid: "nav"});
var nav = document.getElementById('nav_37');nav.className=nav.className+" on";
</script>
      <img src="__PUBLIC__/Yourphp/Tpl/Home/Default/Public/images/banner1.jpg" width="944" height="260" />
      <div class="clear"></div>
    </div>
    <div class="box_b"></div>
  </div>
</div>
<div class="clear"></div>
<div class="w980 height10"></div>
<div class="w980">

  <div class="page_r" style="width:980px;margin-left:0px;">
    <div class="box_r">
      <div class="box_r_m" style="background:rgba(255,255,255,0.7); border-radius:15px;width:945px;height:35px;">
        <div class="box_r_title"><p style="color:rgba(121,190,247,1.00); font-size:18px;"><a href="{:U(MODULE_NAME.'/Index/project')}">工程案例>>>></a><?php echo $data['name']?></p></div>
      </div>
    </div>

          <div class="box_r">
              <div class="box_r_m" style="width:960px;">
                  <div style="width:720px;margin:0 auto;">
                      <?php foreach($imgs as $v):?>
                           <img src="/ct/Uploads/<?php echo $v['big_images']?>">
                      <?php endforeach;?>
                  </div>
                  <div id="fanye" style="width:900px;height:40px;margin-top:15px;">
                      <?php
                        $next = M('project')->where('id>'.$data['id'])->order("id ASC")->limit(1)->select();
                      $prev = M('project')->where('id<'.$data['id'])->order("id DESC")->limit(1)->select();
                      ?>
                      <h4 style="float:left;">上一案例: &nbsp;<a href="{:U(MODULE_NAME.'/Index/img',array('id'=>$prev[0]['id']))}"><?php echo $prev[0]['name']?></a></h4><br />
                      <h4 style="float:left;">下一案例: &nbsp;<a href="{:U(MODULE_NAME.'/Index/img',array('id'=>$next[0]['id']))}"><?php echo $next[0]['name']?></a></h4>
                  </div>
              </div>
              <div class="box_r_b"></div>
          </div>

      </div>


</div>
</div>
</div>
<include file="footer"/>
</body>
</html>
