<script type="text/javascript" src="__PUBLIC__/js/star-rating.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/star-rating.css" media="all"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myOrder.css" media="all"/>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>

    <div class="m_right">
        <div class="mem_tit">
            我的订单
        </div>
        <div class="mem_tit" style="height:80px;">
            <div class="itemlist <?php echo !in_array($_GET['status'],array('待付款','待发货','待收货','待评价'))?'item_active':'';?>" onclick="location.href='__CONTROLLER__/order';">
                <span>所有订单</span>
                <label>|</label>
            </div>
            <div class="itemlist <?php echo $_GET['status']=='待付款'?'item_active':'';?>" onclick="location.href='__CONTROLLER__/order/status/待付款';">
                <span>待付款 <span style="color:#ff6000;font-weight: 400;"><?php echo $orders_count['待付款'];?></span></span>
                <label>|</label>
            </div>

            <div class="itemlist <?php echo $_GET['status']=='待发货'?'item_active':'';?>" onclick="location.href='__CONTROLLER__/order/status/待发货';">
                <span>待发货 <span style="color:#ff6000;font-weight: 400;"><?php echo $orders_count['待发货'];?></span></span>
                <label>|</label>
            </div>
            <div class="itemlist <?php echo $_GET['status']=='待收货'?'item_active':'';?>" onclick="location.href='__CONTROLLER__/order/status/待收货';">
                <span>待收货 <span style="color:#ff6000;font-weight: 400;"><?php echo $orders_count['待收货'];?></span></span>
                <label>|</label>
            </div>
            <div class="itemlist <?php echo $_GET['status']=='待评价'?'item_active':'';?>" onclick="location.href='__CONTROLLER__/order/status/待评价';">
                <span>待评价 <span style="color:#ff6000;font-weight: 400;"><?php echo $orders_count['待评价'];?></span></span>
            </div>
        </div>

        <?php if(count($orders) > 0){ ?>

        <?php

            foreach($orders as $k => $v):
        ?>
            <span class="goods_list">
           	<table border="0" class="order_tab" style="width:930px;" cellspacing="0" cellpadding="0">
                <tr style="background: #eeeeee;">
                    <td colspan="5">
                        订单号：<span style="color:#ff4e00"><?php echo $k;?></span>&emsp;
                        下单时间：<span><?php echo $v[0]['time'];?></span>&emsp;
                        店铺：<span><a href="{:U('Index/store',array('store_id'=>$v[0]['store_id']))}"><?php echo $v[0]['store_name'];?></a></span>
                    </td>
                </tr>

                <tr>
                    <td align="center" width="500">商品名称</td>
                    <td align="center" width="30">数量</td>
                    <td align="center" width="100">小计</td>
                    <td align="center" width="100">支付方式</td>
                    <td align="center" width="100">订单状态</td>
                </tr>
                <?php
                    $total_price = 0;
                    $again_buy_order = array();

                    foreach($v as $k1 => $v1):
                    $again_buy_order[] = $v1['goods_id'].'-'.$v1['goods_attr'];
                    $total_price += $v1['price'];
                ?>
                      <tr>

                        <td style="font-family:'宋体';">
                            <div class="sm_img"><img src="<?php echo IMG_URL.$v1['goods_logo_url'];?>" width="48" height="48" /></div>
                            <div style="float: right;width:430px;">
                                <a href="{:U('Index/item',array('id'=>$v1['goods_id']))}"><?php echo $v1['goods_title'];?></a>
                                <span style="display:block;font-size: 10px;color:#888888">
                                    <?php foreach($v1['ga'] as $k2 => $v2): ?>
                                    <?php echo $v2['attr_name'];?>：<?php echo $v2['attr_value'];?>&nbsp;
                                    <?php endforeach; ?>
                                </span>
                            </div>
                        </td>
                        <td align="center"><?php echo $v1['number'];?></td>
                        <td align="center">￥ <?php echo $v1['price'];?></td>
                        <td align="center"><?php echo $v1['pay_type'];?></td>
                        <td align="center"><?php echo $v1['status'];?></td>

                      </tr>
                <?php endforeach; ?>
                <tr>
                    <td colspan="5" style="text-align: right;">
                        <span>共3件商品&nbsp;&nbsp;合计：￥ <span style="color:#ff4e00;font-size: 16px;"><?php echo $total_price+C('EXPRESS_PRICE');?></span>&nbsp;（含运费￥<?php echo C('EXPRESS_PRICE');?>）</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right;">
                        <form action="{:U('pay/confirmOrder')}" method="post">
                            <input type="hidden" name="ordersn" value="<?php echo $k?>">
                        </form>
                        <?php if($v[0]['status'] == '待付款'){?>
                            <a href="javascript:void(0);" onclick="cancel_order(this,'<?php echo $v[0][ordersn];?>');" class="order_btn">取消订单</a>
                            <a href="<?php echo U('Pay/pay',array('orderSn' => $v[0]['ordersn']));?>" class="order_btn order_btn_active">付款</a>
                        <?php }else if($v[0]['status'] == '待发货'){ ?>
                            <a href="javascript:void(0);" onclick="warn_send('<?php echo $v[0][ordersn]?>')" class="order_btn">提醒发货</a>
                        <?php }else if($v[0]['status'] == '待收货'){ ?>
                            <a href="javascript:void(0);" onclick="see_logistics('<?php echo $v[0][ordersn];?>');" class="order_btn logistics">查看物流</a>
                            <a href="javascript:void(0);" onclick="take_delivery(this,'<?php echo $v[0][ordersn];?>')" class="order_btn order_btn_active">确认收货</a>
                        <?php }else if($v[0]['status'] == '待评价'){ ?>
                            <a href="javascript:void(0);" onclick="delete_order(this,'<?php echo $v[0][ordersn];?>');" class="order_btn">删除订单</a>
                            <a href="javascript:void(0);" onclick="again_buy(this,'<?php echo $v[0][ordersn];?>')" class="order_btn">再次购买</a>
                            <a href="javascript:void(0);" onclick="remark(this,'<?php echo $v[0][ordersn];?>');" class="order_btn order_btn_active">评价</a>
                        <?php }else if($v[0]['status'] == '完成订单'){?>
                        <a href="javascript:void(0);" onclick="delete_order(this,'<?php echo $v[0][ordersn];?>');" class="order_btn">删除订单</a>
                        <?php }?>
                    </td>
                </tr>
            </table>
        <br />
        <br />
        </span>
        <?php endforeach; ?>
        <?php }else{?>
            <center style="font-size: 20px;font-weight: 700;">您还没有相关的订单^_^</center>
        <?php }?>
        <div class='pages1'>
            <?php echo $show;?>
        </div>
        </div>

    </div>

<!-- 评论-->
<form id="remark_form" enctype="multipart/form-data">
<div class="remark-goods-store" style="display: none">
    <div class="remark_all">
        <div class="remark">

            <div class="remark_top">
                <div class="remark_top_l">
                    <img src="" width="100%" height="100%">
                </div>
                <div class="remark_top_r">
                    <span>NIKE官方旗舰店 最新款男士价格4556798798</span>
                </div>

            </div>
            <!--<form id="remark_form">-->
            <div class="remark_left">
                <dl>
                    <dt>评论内容</dt>
                    <dd>
                        <textarea name="remark_content[]"></textarea>
                    </dd>
                </dl>
                <dl>
                    <dt>晒图</dt>
                    <dd style="height:85px;">
                        <span>
                            <div class="share_img"><img src="__PUBLIC__/images/dl3-tu2.gif" width="100%" height="100%"></div>
                            <input type="file" name="share_img[]"  class="pic">
                        </span>
                        <span>
                            <div class="share_img"><img src="__PUBLIC__/images/dl3-tu2.gif" width="100%" height="100%"></div>
                            <input type="file" name="share_img[]"  class="pic">
                        </span>
                        <span>
                            <div class="share_img"><img src="__PUBLIC__/images/dl3-tu2.gif" width="100%" height="100%"></div>
                            <input type="file" name="share_img[]"  class="pic">
                        </span>
                        <span>
                            <div class="share_img"><img src="__PUBLIC__/images/dl3-tu2.gif" width="100%" height="100%"></div>
                            <input type="file" name="share_img[]" class="pic">
                        </span>
                    </dd>
                </dl>

            </div>
        </div>
    </div>
    <div class="store_remark">
        <span style="display: block;font-size: 18px;font-weight:700;margin-left:50px;">店铺评分</span>
        <ul style="margin-left:100px;">
            <li>
                <p class="p1" style="display:inline-block;width:60px;"> 描述相符</p>&emsp;
                <span style="display: inline-block;width:300px;">
                    <input value="0" type="number" class="rating desc" min=0 max=5 step=0.5 data-size="xs" >
                </span>
            </li>
            <li>
                <p class="p1" style="display:inline-block">物流服务</p>&emsp;
                <span style="display: inline-block;width:300px;">
                    <input value="0" type="number" class="rating logistics" min=0 max=5 step=0.5 data-size="xs" >
                </span>
            </li>
            <li>
                <p class="p1" style="display:inline-block">服务态度</p>&emsp;
                <span style="display: inline-block;width:300px;">
                    <input value="0" type="number" class="rating service" min=0 max=5 step=0.5 data-size="xs" >
                </span>
            </li>
        </ul>
    </div>
</div>
</form>

	<!--End 用户中心 End-->
<script>

    /****当选择图片时，会立刻显示图片在span中*****/
    $(".remark-goods-store").on('change','.pic',function(){
        var pic = this.files[0];
        var picUrl = window.URL.createObjectURL(pic);
        $(this).prev('.share_img').html('<img src="'+picUrl+'" width="100%" height="100%" />');
    });


    // 评论
    function remark(obj,ordersn){

        $.ajax({
            type : 'post',
            url : '__CONTROLLER__/get_remark_goods_info',
            data : {
                ordersn : ordersn,
            },
            dataType : 'json',
            async : false,
            success : function (response){
                if(response.status){
                    //清空textarea中的值
                    $('#remark_form').find('textarea').val('');
                    // 设置选择文件为默认图片
                    $('.share_img').html("<img src='__PUBLIC__/images/dl3-tu2.gif' width='100%' height='100%'>");
                    // 清空选择文件的值
                    $("input[type='file']").val('');
                    /* 店铺评分初始化 */
                    $("input[type='number']").val('0');
                    $(".rating-stars").css('width','0');
                    $('.caption').html('');
                   $.each(response.result,function(k,v){

                        /**  定义form表单中的name属性  ***/
                        var remark_div = $('.remark_all').find('.remark').first().clone();
                        remark_div.find('.remark_top_r').html("<span>"+v.goods_title+"</span>");
                        remark_div.find('.remark_top_r').append("<input type='hidden' name='goods_attr["+v.goods_id+"]' value='"+v.goods_attr+"'>");
                        remark_div.find('.remark_top_l').html("<img src='<?php echo IMG_URL?>"+v.goods_logo_url+"' width='100%' height='100%'>");
                        remark_div.find('.remark_left').find('textarea').attr("name","remark_content["+v.goods_id+"]");
                        remark_div.find('.remark_left').find("input[type='file']").attr("name","share_img&"+v.goods_id+"[]");
                        $('.remark-goods-store').find('.desc').attr("name","desc["+v.store_id+"]");
                        $('.remark-goods-store').find('.logistics').attr("name","logistics["+v.store_id+"]");
                        $('.remark-goods-store').find('.service').attr("name","service["+v.store_id+"]");
                       if(k == 0){
                            $('.remark_all').empty();
                       }
                       $('.remark_all').append(remark_div);
                   });

                }else{
                    layer.alert(response.result,{title:'提示'});
                }
            }
        });

        layer.open({
            type: 1,
            title: '评论',
            maxmin: true,
            skin: 'layui-layer-demo', //样式类名
            shadeClose: false, //点击遮罩关闭层
            area : ['1030px' , '600px'],
            content:$('.remark-goods-store'),
            btn:['提交','取消'],
            yes : function(){

                // loading加载
                var loading = layer.load(1, {
                    shade: [0.1,'#fff']
                });

                /* 获取表单数据 */
                var data = new FormData($('#remark_form')[0]);
                data.append('ordersn',ordersn);
                $.ajax({
                    type : 'post',
                    url : '__CONTROLLER__/remark',
                    data : data,
                    processData: false,  // 告诉jQuery不要去处理发送的数据
                    contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                    success : function(response){
                        if(response.status){
                            layer.closeAll();
                            $(obj).parents('.goods_list').animate({width:'500px',opacity: 'hide'}, 'normal',function(){ $(this).remove();});
                            layer.msg(response.result,{time:2000});
                        }else{
                            layer.close(loading);
                            layer.alert(response.result,{icon:6,title:'提示'});
                        }
                    }
                });

            },
            cancel: function(){
                return confirm("确定取消评价吗？");
            }
        });

    }


    // 查看物流，获取快递单号
    function see_logistics(ordersn){
        $.ajax({
            type : 'post',
            url : '__CONTROLLER__/get_express_number/ordersn/'+ordersn,
            success : function(response){
                if(response.status){
                    layer.alert(response.result, {skin: 'layui-layer-lan',closeBtn: 0,title : '物流信息'});
                }else{
                    layer.alert(response.result, {skin: 'layui-layer-lan',closeBtn: 0,title : '提示'});
                }
            }
        });
    }
    // 再次购买
    function again_buy(obj,ordersn){
        $(obj).prevAll('form').submit();
    }
    // 删除订单
    function delete_order(obj,ordersn){

        layer.confirm('确定删除订单吗？',{icon:5,title:'提示'},function(){

            $.ajax({
                type : 'post',
                url : '__CONTROLLER__/delete_order',
                data : {
                    ordersn : ordersn
                },
                success : function(response){
                    if(response.status){
                        layer.msg(response.result,{time:1500});
                        $(obj).parents('.goods_list').animate({width:'500px',opacity: 'hide'}, 'normal',function(){ $(this).remove();});
                    }else{
                        layer.alert(response.result,{title:'提示'});
                    }
                }
            });
        });
    }
    // 取消订单
    function cancel_order(obj,ordersn){

        layer.confirm('确定取消订单吗？',{icon:5,title:'提示'},function(){

            $.ajax({
                type : 'post',
                url : '__CONTROLLER__/cancel_order',
                data : {
                    ordersn : ordersn
                },
                success : function(response){
                    if(response.status){
                        layer.msg(response.result,{icon:6,time:1500});
                        $(obj).parents('.goods_list').animate({width:'500px',opacity: 'hide'}, 'normal',function(){ $(this).remove();});
                    }else{
                        layer.alert(response.result,{icon : 5,title:'提示'});
                    }
                }
            });
        });
    }

    // 提醒发货
    function warn_send(ordersn){

        $.ajax({
            type : 'post',
            url : '__CONTROLLER__/warn_send/ordersn/'+ordersn,
            success : function(){
                layer.msg('提醒发货成功',{time:3000});
            }
        });
    }
    // 确认收货
    function take_delivery(obj,ordersn){
        layer.alert("<input type='password' name='password' style='border: 1px solid gray;height:20px;margin-left:10px;background:#eeeeee;' placeholder='输入密码'>", {
            icon:4
            ,skin: 'layui-layer-lan'
            ,title : '输入密码，完成收货'
        },function(index){


            var password = $("input[name='password']").val().trim();
            if(password == ""){
                layer.msg('请输入您的登录密码');
                return false;
            }
            layer.close(index);
            $.ajax({
                type : 'post',
                url : '__CONTROLLER__/take_delivery',
                data : {
                    ordersn : ordersn,
                    password : password
                },
                success : function(response){

                    if(response.status){
                        layer.msg(response.result,{time:2000});
                        $(obj).parents('.goods_list').animate({width:'500px',opacity: 'hide'}, 'normal',function(){ $(this).remove();});
                    }else{
                        layer.alert(response.result,{icon:5,title:'提示'});
                    }
                }
            });

        });

    }

</script>

