body{
	margin: 0;
    padding: 0;
    background: url(../images/7.jpg) no-repeat;
    repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	background-size:100% 800px;
}

.jumbotron {
	padding: 3px;
}

a:hover{
	cursor:pointer;
	text-decoration:none;
	color:orange;
}

.pages .current,.pages a {
    text-decoration: none;
    border:1px solid #5FA623;
    margin:0 2px;
    padding:2px 6px;
}
.pages .current,.pages a:hover{
    background:#7AB63F;
    color:#fff;
}