<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<!--Begin Login Begin-->
<div class="log_bg">	
    <div class="top">
        <div class="logo"><a href="Index.html"><img src="__PUBLIC__/images/logo.png" /></a></div>
    </div>
	<div class="regist">
		<div class="reg_c" style="width:100%;">
        	<form id="form1">
            <table border="0" style="width:420px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
              <tr height="50" valign="top">
              	<td width="95">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">重置密码</span>
                </td>
              </tr>
                <tr height="25">
                    <td></td>
                    <td align="left" style="color:red;" id="message1"></td>
                </tr>
              <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;新密码 &nbsp;</td>
                <td><input type="text" value="" name="password" class="l_pwd" placeholder="请输入新密码"/></td>
              </tr>
                <tr height="50">
                    <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
                    <td><input type="text" value="" name="c_password" class="l_pwd" placeholder="再次输入新密码"/></td>
                </tr>

              <tr height="60">
                <td>&nbsp;</td>
                <td><input type="submit" value="确定重置密码" id="submit" class="log_btn" /></td>
              </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<script>


    $('#submit').click(function(){

        $('#message1').html('');

        $.ajax({
            type : 'post',
            url : '__CONTROLLER__/forget_password_1',
            data : $('#form1').serialize(),
            dataType : 'json',
            success : function (response){
                if(response.status){

                    $('#submit').attr('disabled',true);
                    $('#submit').val('修改中..');
                    layer.alert('密码重置成功，请牢记您的新密码！',{icon:6,title:'温馨提示'});

                    setTimeout(function(){
                        location.href="__CONTROLLER__/login";
                        $('#submit').attr('disabled',false);
                        $('#submit').val('确定重置密码');
                    },3000);

                }else{
                    $('#message1').html(response.result);
                    //layer.alert(response.result,{icon:2,title:'提示'});
                }
            }
        });
        return false;

    });
</script>
