
<!--[if IE 6]>
<script src="__PUBLIC__/js/iepng.js" type="text/javascript"></script>

<script type="text/javascript">
    EvPNG.fix('div, ul, img, li, input, a');
</script>
<![endif]-->

<script type="text/javascript" src="__PUBLIC__/js/n_nav.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ShopShow.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/MagicZoom.css" />
<script type="text/javascript" src="__PUBLIC__/js/MagicZoom.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/num.js">
    var jq = jQuery.noConflict();
</script>

<script type="text/javascript" src="__PUBLIC__/js/p_tab.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/shade.js"></script>
<style>
    .pages .current {
        display: inline-block;
        height:36px;
        line-height: 36px;
        text-align: center;
        font-size: 16px;
        color:#FFF;
        background-color: #ff4e00;
        border: 1px solid #ff4e00;
        padding:0 12px;
        margin:0 4px;
        border-radius:2px;
        overflow: hidden;

    }
</style>
<!--End Menu End-->
<div class="i_bg">
	<div class="postion">
    </div>
    <div class="content">

        <div id="tsShopContainer">
            <div id="tsImgS"><a href="<?php echo IMG_URL.$images[0]['goods_big_image_url'];?>" title="Images" class="MagicZoom" id="MagicZoom"><img src="<?php echo IMG_URL.$images[0]['goods_big_image_url'];?>" width="390" height="390" /></a></div>
            <div id="tsPicContainer">
                <div id="tsImgSArrL" onclick="tsScrollArrLeft()"></div>
                <div id="tsImgSCon">
                    <ul>
                        <?php foreach($images as $k => $v): ?>
                        <li onclick="showPic('<?php echo $k;?>')" rel="MagicZoom" <?php echo $k == 0? "class='tsSelectImg'":'';?>><img src="<?php echo IMG_URL.$v['goods_big_image_url'];?>" tsImgS="<?php echo IMG_URL.$v['goods_big_image_url'];?>" width="79" height="79" /></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <div id="tsImgSArrR" onclick="tsScrollArrRight()"></div>
            </div>
            <img class="MagicZoomLoading" width="16" height="16" src="__PUBLIC__/images/loading.gif" alt="Loading..." />
        </div>
<!-- ======================  商品详情  =============================-->
        <div class="pro_des">
        	<div class="des_name">
            	<p><?php echo $data['goods_title'];?></p>
                <label style="font-size: 13px;color:#888888;"><?php echo $data['goods_jl_title'];?></label>
            </div>
            <div class="des_price" style="height:70px;margin-bottom: 10px;">
            	零售价：<span style="text-decoration: line-through">￥<?php echo $data['goods_retail_price'];?></span><br />
            	本店价：<b>￥<span id="price" style="font-size: 28px;"><?php echo $data['goods_shop_price'];?></span></b><br />
            </div>


            <!--  ==========================  输出 属性 ======================-->
            <?php if($data['is_sell'] == '是' && $data['store_status'] == '启用' && $data['business_status'] == '营业中'){ ?>
                <?php foreach($goods_attr_dx as $k => $v): ?>
                    <div class="des_choice">
                        <span class="fl"><?php echo $v[0]['attr_name']?>：</span>
                        <ul>
                            <?php foreach($v as $k1 => $v1): ?>
                            <li class="attr <?php echo $k1 == 0? 'checked' : '';?>" aid="<?php echo $v1['id'];?>"><?php echo $v1['attr_value'];?><div class="ch_img"></div></li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                <?php endforeach; ?>


                <div class="des_price" style="height:33px;margin-top:0;margin-bottom: 0;">
                    库存：&nbsp;<span style="font-size: 23px;color: red;" id="stock"></span> 件<br />
                </div>
            <?php } ?>
            <div class="des_share" style="height:23px;margin-top:0;">
                <div class="d_care" id="heart" style="margin-left: 20px;<?php if($is_follow){echo 'background-image: url(__PUBLIC__/images/heart_h.png)';}else{echo 'background-image: url(__PUBLIC__/images/heart.png)';}?>">
                    <a onclick="ajaxFollow('<?php echo $data[id];?>','<?php echo $_SESSION[eater_uid];?>')" id="is_follow"><?php echo $is_follow ? "已收藏":'收藏商品';?></a>
                </div>
                <div class="d_care" style="margin-left: 20px;"><a href="__CONTROLLER__/store/store_id/<?php echo $data['store_id'];?>" target="_blank">进入店铺（<b><?php echo $data['store_name'];?></b>）</a></div>
            </div>
            <div class="des_price" style="height:33px;margin-top:0;margin-bottom: 0;">
                <span style="display:block;font-size: 15px;font-weight: bold;color:gray;text-align: center;">
                    <?php if($data['is_sell'] == '否' || $data['store_status'] == '停用' || $data['business_status'] == '已打烊'){ ?>
                        商品下架啦~
                    <?php }?>
                </span>
                <center id="message" style="font-size: 15px;font-weight: bold;color:orange;"></center>
            </div>
            <?php if($data['is_sell'] == '是' && $data['store_status'] == '启用' && $data['business_status'] == '营业中'){ ?>
                <div class="des_join">
                    <div class="j_nums">
                        <input type="text" value="1" name="number" class="n_ipt" id="number" />
                        <input type="button" value=""  class="n_btn_1"/>
                        <input type="button" value="" class="n_btn_2" />
                    </div>
                    <span class="fl"><a href="javascript:void(0);" onclick="joinBuyCar()" style="height:43px;width:200px;font-size: 17px;border:1px solid gray;" id="car" class="b_sure"><!-- b_sure -->&nbsp;加入购物车&nbsp;</a></span>
                </div>
            <?php } ?>
        </div>

<!--==========================   同类推荐   ============================ -->
        <div class="l_history" style="float: right;">
            <div class="fav_t">同类推荐</div>
            <ul>

                <?php if(!$sameCatRec){ ?>

                <center>暂无</center>
                <?php }else{?>
                    <?php $i=0;foreach($sameCatRec as $k => $v):
                        if($i == 2)
                            break;
                    ?>
                    <li>
                        <div class="img"><a href="__CONTROLLER__/item/id/<?php echo $v['id'];?>"><img src="<?php echo IMG_URL.$v['goods_logo_url']?>" width="185" height="162" /></a></div>
                        <div class="name"><a href="__CONTROLLER__/item/id/<?php echo $v['id'];?>"><?php echo $v['goods_title'];?></a></div>
                        <div class="price">
                            <font>￥<span><?php echo $v['goods_shop_price'];?></span></font>
                        </div>
                    </li>
                    <?php $i++;endforeach; ?>
                <?php } ?>

            </ul>
        </div>

    </div>
<!-- =================  用户还喜欢   ==========================-->
    <div class="content mar_20">
    	<div class="l_history">
        	<div class="fav_t">用户还喜欢</div>
        	<ul>
                <?php foreach($like as $k => $v): ?>
            	<li>
                    <div class="img"><a href="__ACTION__/id/<?php echo $v['goods_id'];?>"><img src="<?php echo IMG_URL.$v['goods_logo_url'];?>" width="185" height="162" /></a></div>
                	<div class="name"><a href="__ACTION__/id/<?php echo $v['goods_id'];?>"><?php echo $v['goods_title']; ?></a></div>
                    <div class="price">
                    	<font>￥<span><?php echo $v['goods_shop_price'];?></span></font>
                    </div>
                </li>
                <?php endforeach; ?>
        	</ul>
        </div>
        <div class="l_list">

            <div class="des_border">
                <div class="des_tit">
                	<ul>
                        <li class="current"><a href="javascript:void(0);" class="link">商品详情</a></li>
                    	<li><a href="javascript:void(0);" class="link">商品属性</a></li>
                        <li><a href="javascript:void(0);" class="link">商品评论</a></li>
                    </ul>
                </div>
                <div class="des_con" id="p_attribute" style="display: none;">
                	<ul>

                        <?php if($goods_attr_no_dx){?>

                        <?php foreach($goods_attr_no_dx as $k => $v): ?>
                        <li style="float:left;width:230px;"><?php echo $v['attr_name'];?>：<?php echo $v['attr_value'];?></li>
                        <?php endforeach; ?>
                        <?php }else{?>
                        <li style="float:left;width:230px;">该商品暂无属性介绍</li>
                        <?php }?>
                    </ul>
                </div>
          	</div>

            <div class="des_con" id="p_details">
                <div class="des_con">
                	<?php echo htmlspecialchars_decode($data['goods_infomation']);?>

                </div>
          	</div>

            <div class="des_con" id="p_comment" style="display: none">

                <table border="0" class="jud_tab" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="175" class="jud_per">
                    	<p id="hao2"></p>好评度
                    </td>
                    <td width="300" colspan="3">
                    	<table border="0" style="width:100%;" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="90">好评<font color="#999999" id="hao">（0%）</font></td>
                            <td><span style="display: block;background: #efefef;width:170px;;height:13px;"><div id="hao1" style="width:0px;height:13px;float:left;background: rgb(227,23,12)"></div></span></td>
                          </tr>
                          <tr>
                            <td>中评<font color="#999999" id="zhong">（0%）</font></td>
                              <td><span style="display: block;background: #efefef;width:170px;;height:13px;"><div id="zhong1" style="width:0px;height:13px;float:left;background: rgb(227,23,12)"></div></span></td>
                          </tr>
                          <tr>
                            <td>差评<font color="#999999" id="cha">（0%）</font></td>
                            <td><span style="display: block;background: #efefef;width:170px;;height:13px;"><div id="cha1" style="width:0px;height:13px;float:left;background: rgb(227,23,12)"></div></span></td>
                          </tr>
                        </table>
                    </td>
                    <td width="185" class="jud_bg">
                    	购买过此商品的用户，并且确认收货后，方可评论
                    </td>
                    <td class="jud_bg"><a href="{:U('Personal/order',array('status'=>'待评价'))}"><img src="__PUBLIC__/images/btn_jud.gif" /></a></td>
                  </tr>
                </table>

                <table border="0" class="jud_list" id="remark_content1" style="width:100%; margin-top:30px;" cellspacing="0" cellpadding="0">


                </table>

                <div class="pages">

                </div>

          	</div>


        </div>
    </div>

<?php if($data['is_sell'] == '是' && $data['store_status'] == '启用' && $data['business_status'] == '营业中'){ ?>

    <!--Begin 弹出层-加入购物车 Begin-->
    <div id="fade1" class="black_overlay"></div>
    <div id="MyDiv1" class="white_content">
        <div class="white_d">
            <div class="notice_t">
                <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv_1('MyDiv1','fade1')"><img src="__PUBLIC__/images/close.gif" /></span>
            </div>
            <div class="notice_c">

                <table border="0" align="center" style="margin-top:;" cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td width="40"><img src="__PUBLIC__/images/suc.png" /></td>
                        <td>
                            <span style="color:#3e3e3e; font-size:18px; font-weight:bold;">宝贝已成功添加到购物车</span><br />
                            购物车中共有 <span id="number111"></span> 件商品
                        </td>
                    </tr>
                    <tr height="50" valign="bottom">
                        <td>&nbsp;</td>
                        <td><a href="{:U('Pay/showPayCar')}" class="b_sure">查看我的购物车</a><a href="javascript:void(0);" onclick="CloseDiv_1('MyDiv1','fade1')" class="b_buy">继续购物</a></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <!--End 弹出层-加入购物车 End-->
<?php } ?>
    <div class="showImage" style="display:none;">
        <img src="" width="500px">
    </div>
    <script src="__PUBLIC__/js/ShopShow.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <?php if($data['is_sell'] == '是' && $data['store_status'] == '启用' && $data['business_status'] == '营业中'){ ?>
    <script>

            //  商品详情，属性，评论三个窗口切换
        var num = 0;    // 如果再次点击商品评论，则不运行获取评论的函数，因为已经获取过
        $('.link').click(function(){
            $(this).parent().addClass('current').siblings('li').removeClass('current');
            var text = $(this).text();
            if(text == '商品详情'){
                $('#p_attribute').hide();
                $('#p_comment').hide();
                $('#p_details').show();
            }else if(text == '商品属性'){
                $('#p_attribute').show();
                $('#p_comment').hide();
                $('#p_details').hide();
            }else if(text == '商品评论'){
                $('#p_attribute').hide();
                $('#p_comment').show();
                $('#p_details').hide();
                if(num == 0){
                    ajaxGetRemark();    // 当点击商品评论时，才获取评论内容
                }
                num++;
            }
        });


        var number = ajaxGetStock();    //   保存当前属性的库存数，用于比较

        $('.attr').click(function(){
            $(this).addClass("checked").siblings('li').removeClass('checked');
            number = ajaxGetStock();    // 更新当前页面中的number变量（库存）
        });

            // ajax 获取内存
        function ajaxGetStock(){
            var number = 0;
            var _goods_attr_id = [];

                // 获取所有被选中的属性id
            $('.checked').each(function(){
                _goods_attr_id.push($(this).attr('aid'));   // 将属性id值放到数组中
            });
            _goods_attr_id.sort();      //重新排序，为了和数据库中的形式保持统一，由小到大的顺序
            var goods_attr_id = _goods_attr_id.join('&');   // 组合成1&2 的形式，在数据库中查询出库存

            $.ajax({
                type : 'post',
                url : "__CONTROLLER__/ajaxGetStock",
                data : {
                    goods_attr_id : goods_attr_id,
                    goods_id : "<?php echo $data['id']?>",
                },
                dataType : 'json',
                async : false,
                success : function(response){
                    if(response.status){

                        number = response.number;
                        if(parseInt($('#number').val()) > parseInt(response.number)){
                            $('#message').html('您所填写的商品数量超过库存！');
                            $('#car').removeClass().addClass('b_buy').css('cursor','default').css('color','gray').removeAttr('onclick');
                        }else{
                            $('#message').html(' ');
                            $('#car').removeClass().addClass('b_sure').css('cursor','pointer').css('color','#fff').attr('onclick',"joinBuyCar()");
                        }

                        $('#price').html((parseFloat("<?php echo $data['goods_shop_price'];?>")+parseFloat(response.price)).toFixed(2));
                        $('#stock').html(response.number);
                    }
                }
            });
            return number;

        }
            // 加号 按钮
        $('.n_btn_1').click(function(){
            var input = $(this).parent().find('.n_ipt');
            var c = input.val();
            c=parseInt(c)+1;
            input.val(c);

            if(parseInt(c) > parseInt(number)){
                $('#message').html('您所填写的商品数量超过库存！');
                $('#car').removeClass().addClass('b_buy').css('cursor','default').css('color','gray').removeAttr('onclick');
            }else{
                $('#message').html(' ')
                $('#car').removeClass().addClass('b_sure').css('cursor','pointer').css('color','#fff').attr('onclick',"joinBuyCar()");
            }
        });
            // 减号 按钮
        $('.n_btn_2').click(function(){
            var input = $(this).parent().find('.n_ipt');

            var c = input.val();
            if(c==1){
                c=1;
            }else{
                c=parseInt(c)-1;
                input.val(c);
            }
            if(parseInt(c) <= parseInt(number)){
                $('#message').html(' ')
                $('#car').removeClass().addClass('b_sure').css('cursor','pointer').css('color','#fff').attr('onclick',"joinBuyCar()");
            }else{
                $('#message').html('您所填写的商品数量超过库存！');
                $('#car').removeClass().addClass('b_buy').css('cursor','default').css('color','gray').removeAttr('onclick');
            }
        });
            // 数量 输入监测
        $('#number').bind('input propertychange',function(){

            var reg = /^\+?[1-9][0-9]*$/;       // 验证非0正整数
            if(!reg.test($(this).val())){
                $('#number').val('1');
                return false;
            }
           if(parseInt($(this).val()) > parseInt(number)){
                $('#message').html('您所填写的商品数量超过库存！');
                $('#car').removeClass().addClass('b_buy').css('cursor','default').css('color','gray').removeAttr('onclick');
            }else{
                $('#message').html(' ')
                $('#car').removeClass().addClass('b_sure').css('cursor','pointer').css('color','#fff').attr('onclick',"joinBuyCar()");
            }
        });





            // 加入购物车
        function joinBuyCar(){

            // 如果用户没有登录，跳转到登录页面
            var user_id = "<?php echo $_SESSION[eater_uid]?>";
            if(user_id == "" || typeof(user_id) == "undefined" ){
                window.location.href="{:U('Login/login')}";
                return false;
            }

            var _goods_attr_id = [];
            $('.checked').each(function(){
                _goods_attr_id.push($(this).attr('aid'));   // 将属性id值放到数组中
            });
            _goods_attr_id.sort();      //重新排序，为了和数据库中的形式保持统一，由小到大的顺序
            var goods_attr_id = _goods_attr_id.join('&');   // 组合成1&2 的形式，在数据库中查询出库存

            var buy_number = $('#number').val(); // 购买数量

            $.ajax({
                type : 'post',
                url : '__CONTROLLER__/buyCar',
                data : {
                    goods_id : "<?php echo $data['id'];?>",
                    goods_attr_id : goods_attr_id,
                    buy_number : buy_number,
                },
                success : function(response){
                    if(response.status){
                        ajaxGetBuyCar();
                        $('#number111').html(response.number);
                        ShowDiv_1('MyDiv1','fade1');
                    }
                }

            });

        }
</script>
    <?php  }?>
    <script>
        $('.pages').on('click','a',function(){

            var now = $('.pages span').html();
            var p = $(this).html();

            if(!isNaN(parseInt(p))){
                ajaxGetRemark(p);
            }else{

                if(p == '下一页'){
                    ajaxGetRemark(parseInt(now)+1);
                }else if(p == '上一页'){
                    ajaxGetRemark(parseInt(now)-1);
                }


            }



        });
        // ajax获取商品评论
        function ajaxGetRemark(p){
            $('#remark_content1').html('加载中..');
            $.ajax({
                type : 'get',
                url  : '__CONTROLLER__/ajaxGetRemark',
                data : {
                    goods_id : "<?php echo $_GET['id'];?>",
                    p : p,
                },
                success : function(response){

                    if(response.status){

                        /* 好评 中评 差评 */
                        $('#hao').html("（"+response.remark_percent.hao+"）");
                        $('#hao1').css("width",response.remark_percent.hao);
                        $('#hao2').html(response.remark_percent.hao);
                        $('#zhong').html("（"+response.remark_percent.zhong+"）");
                        $('#zhong1').css("width",response.remark_percent.zhong);
                        $('#cha').html("（"+response.remark_percent.cha+"）");
                        $('#cha1').css("width",response.remark_percent.cha);

                        var str = "";
                        $.each(response.remark_data,function(k,v){

                            str += '<tr valign="top">';
                            str += '<td width="150"><img src="/eater/Public/images/touxiang.png" width="50" height="50" align="absmiddle" />&nbsp;'+v.nickname+'</td>';
                            str += '<td width="100">'+v.goods_attr+'</td>';
                            str += '<td width="300">'+v.remark_content+'<br /><font color="#999999">'+v.time+'</font></td>';
                            str += '<td>';
                            if(v.image != null){
                                var image = v.image.split(',');
                                $.each(image,function(k1,v1){
                                    str += '<a href="javascript:void(0);" onclick="showImage(this)"><img src=<?php echo IMG_URL1;?>'+v1+' width="80" height="80">';
                                });
                            }

                            str += '</td></tr>';
                        });

                        $('#remark_content1').html(str);
                        $('.pages').html(response.page);

                    }else{
                        $('#remark_content1').html('<center style="font-size: 18px;margin-top:20px;">暂无评论哦，赶快购买商品来抢占评论席吧~</center>');
                    }
                }
            });

        }

        // ajax 关注该商品
        function ajaxFollow(value_id,user_id){

            // 如果用户没有登录，跳转到登录页面
            if(user_id == "" || user_id != '<?php echo $_SESSION[eater_uid]?>'){
                window.location.href="{:U('Login/login')}";
                return false;
            }
            $.ajax({
                type : 'post',
                url  : '__CONTROLLER__/ajaxFollow',
                data : {
                    value_id : value_id,
                    user_id  : user_id,
                    type : '商品',
                },
                success : function(response){
                    if(response.status){
                        $('#heart').css('background-image',"url(__PUBLIC__/images/heart_h.png)");
                        $('#is_follow').html(response.result);
                    }else{
                        $('#heart').css('background-image',"url(__PUBLIC__/images/heart.png)");
                        $('#is_follow').html(response.result);
                    }

                }
            });
        }
            function showImage(obj){
                var img_url = $(obj).children('img').attr('src');
                $('.showImage').find('img').attr('src',img_url);

                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    area: '500px',
                    skin: 'layui-layer-nobg', //没有背景色
                    shadeClose: true,
                    content: $('.showImage')
                });


            }

    </script>
